body {
    background-color: #B2B8DE;
}
.headings {
    text-align: center;
    color: #5F5757;
}

#header {
    padding: 5px;
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#pfp {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
ul {
    display:flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    color: white;
}

li a {
    text-align: center;
    padding-right: 10px;
    color: white;
}
button {
    color: white;
    background-color: #5F5757;
}
#buttonDiv{
    text-align: center;
}
#footer {
    text-align: center;
    color: #5F5757;
}
#footer a img {
    width: 30px;
    height: auto;
    padding-right: 5px;
}